---
---

@import "academic-minima";

title, h3 {
    color: #501315;
   }

h1 {
    color: #b29d6c;
   }

a, h2 {
    color: #8a100b;
   }

h3 {
	 color: #726158;
    }	 

a:visited {
    color: #501315; 	
   }	
